ul {
  display: block;
  border: 2px solid black;
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

ul li {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 300px;
}

input {
  background-color: transparent;

  width: 470px;
  padding: 0 25px;
  font-size: 35px;
  border: none;
  border-bottom: 5px solid yellow;
}

button {
  font-size: 50px;
  color: red;
  border: none;
  background-color: transparent;
}
